#root {
  /* position: relative; */
  min-height: 100vh;
}

/*Homepage header*/
.vegas-sign {
  max-height: 250px;
}

/*Keeping the footer at the bottom*/
.main-content {
  padding-bottom: 5rem;
}
.pageFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  height: 5rem;
  font-size: 14px;
  color: #ffffff;
}

.pageFooter a {
  color: #ffffff;
  cursor: pointer;
}

.pageFooter a:hover {
  font-weight: bold;
  font-size: 16px;
}

/*Seasonal cards*/
.season-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/*Animal Carousel*/
.animal-carousel img {
  width: 100%;
}
.carousel-text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.carousel-text p {
  font-size: 12px;
}

.carousel-container:hover .carousel-overlay {
  opacity: 0.8;
}
.carousel-overlay {
  position: absolute;
  height: 100%;
  width: 70%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: black;
}

/*Adventure section*/
.adventures-image {
  max-height: 300px;
}

ul {
  list-style: none;
}

/*Media queries*/

@media (min-width: 1400px) {
  .faqs-card {
    max-width: 50%;
  }

  .faqs {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1000px) {
  .carousel-text p {
    font-size: 8px;
  }
  .carousel-text h5 {
    font-size: 10px;
  }
}

@media (max-width: 700px) {
  .carousel-text p {
    font-size: 4px;
  }
  .carousel-text h5 {
    font-size: 6px;
  }
}
